/* Style.scss */

body {
  padding: 15px;
  color: white;
}

.ba-banner {
  min-height: 100vh;
}

.ba-hero {
  background-image: url(../img/bg-hero.jpg);
  min-height: calc(100vh - 80px);

  &__middle {
    text-align: center;
    color: white;
  }

  &__title {
    padding-top: 265px;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

  &__subtitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    letter-spacing: 0.31em;
    text-transform: capitalize;
  }

  &__form{
    width: 650px;
    display: flex;
    margin: 0 auto;
  }
  &__input {
    border: none;
    flex-grow: 1;
    height: 60px;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    vertical-align: top;
    color: #c2c2c2;
    font-size: 14px;
    letter-spacing: 0.2em;
    padding: 0  0 0;
  }

  &__btn {
    border: none;
    margin: 0;
    width: 146px;
    height: 60px;
    padding: 0;
    font-family: 'Aleo', serif;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 30px;
    color: white;
    background-color: #5474fd;
    cursor: pointer;
  }

  ::placeholder {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    text-transform: capitalize;
  }

  &__scroll {
    padding-top: 120px;
  }
  &__link {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 120px;
    letter-spacing: 0.2em;
    font-size: 14px;
  }
}


.ba-header{
    background-color: #5474fd;
}

.ba-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.ba-menu {
  &__item {
    list-style: none;
    margin-left: 40px;
  }
  display: flex;
  align-items: center;
  
}

.ba-logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 12px;
}

.ba-menu__link {
  color: white;
  text-decoration: none;
  font-family: 'Aleo', serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
//============= ba-about ========//

.ba-about{
    background-image: url(../img/ba-about-bg.jpg);

    &__wrapper{
        display: flex;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &__text{
        margin-right: 15px;
    }

    &__title{
        font-family: 'Aleo', serif;
        font-size: 36px;
        margin-top: 40px;
    }

    &__paragraph{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        letter-spacing: 0.1em;
    }

    &__photoes{
        margin-left: 80px;
    }

    

    &__img2{
        margin-left: 125px;
    }
}

.ba-btn{
    width: 225px;
    height: 60px;
    border: none;
    font-family: 'Aleo', serif;
    margin-top: 50px;
    background: -webkit-linear-gradient(45deg, rgba(72,106,254,1) 0%, rgba(72,106,254,1) 30%, rgba(84,116,253,1) 32%, rgba(84,115,253,1) 100%);    padding: 24px 40px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: #5474fd;
    cursor: pointer;
}

//=========== ba-icons  ========//

.ba-icons{
    background-color: #333333;
    position: relative;

    &__wrapper{
        display: flex;
        justify-content: space-around;
        padding : 100px 0px;
    }


    &__info{
        font-family: 'Aleo', serif;
        text-align: center;
        font-size: 36px;
        text-transform: capitalize;
        margin: 0;
    }
    &-shape{
        position: absolute;
        left: 155px;
        top: 43px;
    }

    &__text{
        margin: 0;
    }
}

//======== ba-booking ======//

.ba-booking{
    background-image: url(../img/booking1.jpg);
    background-size: cover;


    &-page{
        display: flex;
    }

    &-block{
        width: 540px;
        background-color: rgba(44, 38, 40, 0.7);
        
        margin-top: 230px;
        padding: 25px;
        margin-right: 15px;
        margin-bottom: 100px;
    }

    &__subtitle{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        letter-spacing: 0.075em;
        text-transform: capitalize;
        font-weight: 400;
        opacity: 1;
    }

    &__title{
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
    }

    &__text{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
    }

    .ba-booking-block .ba-btn{
        margin-bottom: 50px;
    }
}

// rigth side //

.rigth-side{
    background-image: url(../img/booking2.jpg);
    background-size: cover;
}

.rigth-side .ba-booking-block{
    margin-left: 570px;
}


//============ ba-tourist =======//

.ba-tourist{
    background-image: url(../img/tourist-bg.jpg);
    background-size: cover;

    &__wrapper{
        text-align: center;
    }

    &__title{
        font-family: 'Aleo', serif;
        font-size: 36px;
        text-transform: capitalize;
        margin: 0;
        padding-top: 120px;
        padding-bottom: 100px;
    }

    &__commend{
        display: flex;
        padding-bottom: 200px;
    }

    &__text{
        background-color: #333333;

        padding: 60px;
        text-align: left;

        &-subtitle{
            margin-bottom: 50px;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            font-size: 20px;
        }

        &-paragraph{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 14px;
        }
    }
}

//================ ba-footer ==========//

.ba-footer{
    background-color: #232323;

    &__wrapper{
        text-align: center;
        margin-top: 120px;
        margin-bottom: 50px;
    }

    &__title{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.14em;
        text-transform: uppercase;
    }

    &__subtitle{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        letter-spacing: 0.1em;
    }

    &__social{
        padding-left: 0;
    }

    &__item{
        display: inline;
        list-style: none;

    }

}

.ba-footer__link-img{
    transition: .2s;
}

.ba-footer__link-img:hover{
    color: #5474fd;
}
